.bgcolor{
    background-color: black;
}
.container {
  display: flex;
  align-items: center;
  padding: 14px 30px;
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  color: white;
  justify-content: space-between;
}
.flex {
    display: flex;
    gap: 12px;
    align-items: center;
}
.socials {
  display: flex;
  gap: 12px;
}
.callmess {
  display: flex;
  align-items: center;
  gap: 8px;
}
.iconBox {
  width: 26px;  
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}
@media (max-width: 768px) {
  .socials{
    display: none;
  }
}